# POSTGRES DB
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_LOCAL_PORT=
DB_DOCKER_PORT=
DB_VOLUME_URL=

# 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